{% layout 'password' %}

{% comment %}
The contents of the password.liquid templates can be found in /sections
{% endcomment %}

{% section 'password-background' %}

<div class="password-page text-center">
  <header class="password-header" role="banner">
    <div class="password-header__inner">
      <div class="password-login">
        <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary">
          {{ 'general.password_page.password_link' | t }} <span class="next-arrow">{% include 'icon-forward' %}</span>
        </a>
      </div>
    </div>
  </header>

  <div class="password-main text-center" role="main">
    <div class="password-main__inner">
      {% section 'password-header' %}
      {% section 'password-content' %}
      {% section 'password-footer' %}
    </div>
  </div>
</div>