<!-- /snippets/header_burger-menu.liquid -->
<div class="site-header__burger-menu">
  <button type="button" class="js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false"  tabindex="1">
    <div class="icon-burger">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
    <span class="menu-text medium-down--hide">{{ 'layout.navigation.menu' | t }}</span>
  </button>
</div>
