<div class="sub-sub-nav">
{% for link in linklists[section.settings.main_linklist].links %}
  {% if link.links != blank %}
      {% for childlink in link.links %}
        {% if childlink.links != blank %}
        <ul class="child-child-nav inline-list feature-copy child-list-{{ childlink.handle }}">
          {% for childchildlink in childlink.links %}
            <li class="{% if childchildlink.active %} drawer-nav__item--active{% endif %}">
              <a href="{{ childchildlink.url }}" class="site-nav__link">{{ childchildlink.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
  {% endif %}
{% endfor %}
</div>