<!-- /snippets/right-drawer.liquid -->
<div id="RightDrawer" class="drawer drawer--right">
  <div class="drawer__container">
    <div class="drawer__header">
        <button type="button" class="js-drawer-close">
          <span>{% render 'icon-close' %}</span>
          <span class="menu-text"> {{ 'layout.drawers.close' | t }}</span>
        </button>
        <div class="h2" id="RightDrawerTitle"></div>
        <div class="secondary" id="RightDrawerSubtitle"></div>
    </div>
    <div class="drawer__content" id="RightDrawerContent">

    </div>
  </div>
</div>
